# Áreas críticas exigem revisão de SOP & Gatekeeper
/core/sop/*            @SOP @Gatekeeper
/core/orquestrador/*   @SOP
/.github/workflows/*   @SOP @EstadoMaior
/tools/*               @SOP
/pipeline/**            @SOP @Gatekeeper
/core/orquestrador/**   @SOP @Gatekeeper
/ordem/**               @Gatekeeper
/deprecated/ordem/**    @Gatekeeper
/torre/**   @SOP @Gatekeeper


